.color_swatches-fieldtype-options {
    width: 50%;
}

.color_swatches-fieldtype {
    font-size: 0;
}

.color_swatches-fieldtype button {
    border: 3px solid #E7E8EB;
    border-radius: 50%;
    cursor: pointer;
    display: inline-block;
    height: 40px;
    width: 40px;
    position: relative;
    transition: box-shadow 200ms ease 0s;
    margin: 0 10px 0 0;
}

.color_swatches-fieldtype button:focus {
    outline: none;
}

.color_swatches-fieldtype button.active {
    box-shadow: 0 0 0 3px #3aa3e2;
}