.color_swatches-fieldtype .color-swatches-button {
  border: 3px solid hsl(210, 30%, 95%);
  border-radius: 50%;
  cursor: pointer;
  display: inline-block;
  height: 40px;
  width: 40px;
  position: relative;
  transition: box-shadow 200ms ease 0s;
  margin: 5px 10px 5px 0;

  --tw-shadow: 0px 2px 3px -2px var(--tw-shadow-color,#00000026);
  box-shadow: var(--tw-inset-shadow),var(--tw-inset-ring-shadow),var(--tw-ring-offset-shadow),var(--tw-ring-shadow),var(--tw-shadow);
}

.color_swatches-fieldtype .color-swatches-button:hover,
.color_swatches-fieldtype .color-swatches-button:focus {
  border-color: var(--color-zinc-100);
}

.color_swatches-fieldtype .color-swatches-button.active {
  box-shadow: 0 0 0 2px var(--color-zinc-800);
}
